{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Hola!</h1>
            <ul>
                <li><a href="{{path('easyadmin')}}">Ir al easy admin</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
